#scaleflag{
	/*display:none;*/
}
.idform:hover{     
    border: 1px ridge #31a4c4 ;
    box-shadow:2px 0px 3px 3px #b6dbf7 inset;
    border-top: 0px;
}
.responsive-scales  thead > tr > th{
text-align : center;
	}
.responsive-scales  tbody > tr > td > input[type="radio"] {
text-align : center;
	}	
.responsive-scales  tbody > tr > td >{
text-align : center;
	}	
/*.responsive-scales tbody>tr:hover{
		background-color : lightgrey;
		color:white;
		font-size: 15px;
		
	}*/
.responsive-scales,table{
width:100%;
}	
input[type="radio"]:checked  + label{
	margin-left:10px;
	
}
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}
 
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:white;
    transition:all linear 0.15s;
    /* Type */
    font-size:20px;
    /*text-shadow:0px 1px 0px #1a1a1a;*/
    color:#31708f;
}
 
.accordion-section-title.active {
    background:#d9edf7;
    /* Type */
    text-decoration:none;
	
}
.accordion-section-title:hover{
	background:#d9edf7;
}
.accordion-section-title {
		color:black;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 

.accordion-section-content {
    padding:15px;
    display:none;
	background-color:white;
}
#idScales input[type="number"]
{
    float: left;
    width: 150px;
    padding-left: 6px 40%;
    background-color: lightgray;
    border-color: lightgray;
    font-size: 24px;
}
#idScales .form-control  {
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0);
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
}
#idScales label {
    margin-left: 45px;
    margin-right: 47px;
}
#idScales  > .table-container {
    height: 10em;
}
 #idScales >table {
    display: flex;
    flex-flow: column;
    width: 100%;
}
 #idScales > table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
 #idScales > table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
}
 #idScales > table tbody tr {
    width: 100%;
}
 #idScales > table thead {
    display: table;
    table-layout: fixed;
}

#idScales > table tbody tr {
    display: table;
    table-layout: fixed;
}
#idScales >th {
    text-align: center;
}
#withBoxShadow{
    border-style: solid;
    border-color: white;
    border-width: 0.2em;
    border-radius: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 99%;
    box-shadow: 10px 10px 5px #333;
    margin-left: 10px;
}

#withBoxShadow input[type="number"]
{
    float: left;
    background-color: lightgray;
    border-color: white;
    font-size: 24px;
}
#withBoxShadow label {
    margin-left: 80px;
    margin-right: 80px;
}
#withBoxShadow input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}
#withBoxShadow input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #ffa500;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
	
}	
	
#withBoxShadow input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}
#withBoxShadow input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #ffa500;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;	
}

#withBoxShadow button
{
   margin-left:25px; 
}
#withBoxShadow .table-container {
    height: 10em;
}
#withBoxShadow table {
    display: flex;
    flex-flow: column;
    height: 600px;
    width: 100%;
}
#lescale table{
	display: flex;
    flex-flow: column;
    height: 300px;
    width: 100%;
}
#scsclae table{
	
    height: 100px;
    
}
#bit{
 height: 200px;
}
#ihscale table {
	
    flex-flow: column;
    height: 290px;
    width: 100%;
}
#ihimm table{
	flex-flow: column;
    height: 290px;
    width: 100%;
}
#fifth table{
	height:100px;
}
#withBoxShadow table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
#withBoxShadow table tbody {
    
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
#withBoxShadow table tbody tr {
    width: 100%;
}
#withBoxShadow table thead {
    display: table;
    table-layout: fixed;
}
#withBoxShadow table tbody tr {
    display: table;
    table-layout: fixed;
}
#withBoxShadow table tbody tr td  {
    text-align: left;
}

#withBoxShadow select{
	width:75px;
}

.scaleApplicable{
    width : 175px ! important;
}