html,
body {
    height: 100%;
    font-family: Verdana ,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 5px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.navbar{

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#25b6cf+0,155469+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(37,182,207,0) 0%, #2080a0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(37,182,207,0) 0%,#2080a0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(37,182,207,0) 0%,#2080a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0025b6cf', endColorstr='#155469',GradientType=0 ); /* IE6-9 */

    }
 .navbar-nav> li> a{
        color: #000;
    }  

h3 .hcss{
    font-family: 'Times New Roman';
    text-align: center;
    
}
#navigationID .nav-tabs{
        text-align: center;
        padding-top: 1%;
        padding-left: 30%;
    }
   
#navigationID .nav-tabs > li{
    text-align: center;
    padding:5px 10px 0px 10px;
    background-color: #189fda;
	box-shadow: 0 0 0 1px #ddd;
  /*  transition: top .2s;*/
    border: 0px;
    margin: 0px 1px 0px 1px; 
  
    }
 #navigationID   .nav-tabs > li.active > a{
    font-family: 'Source Sans Pro';
    font-size:1.65em;
    font-weight:300;
    top:0;
   /* transition:top .4s;*/
    background-color: transparent; 
    border: 0px;
    
    }


 #navigationID   .nav-tabs > li a:hover {
         background-color: transparent; 
         border:0px ; 
         color: #fff;
       
        
    }
 #navigationID   .nav-tabs > li.active a:hover {
         background-color:#189fda; 
         border:0px ; 
         color: #fff;
        /* transition:.2s;*/
         
    }
    
#navigationID  .nav-tabs > li.active  a:focus{
        font-family: 'Source Sans Pro';
        font-size:1.65em;
        font-weight:300;
        /*transition:.2s;*/
        color:#333;
        background-color: transparent; 
        border:0px ; 
        
    }
 #navigationID   .nav-tabs > li.active{
       
       /* transition:.2s;*/
        background-color:  #189fda; 
        border:0px ;
        color: #ffd800; 
        
    }
 /*Admin Page Css Follows*/

.admintile{
	width:100%;
	height:100px;
	background-color:#c0b8d6;
	padding-top:40px;
	padding-bottom:50px;
	border-radius : 10px;
	-webkit-transition: background-color 2s,-webkit-transform 2s;
    -ms-transform: background-color 2s,-ms-transform 2s;
    transition: background-color 2s,transform 2s;
}
.admintile > a {
    color: #000;
}
.admintile:hover{
	background-color: #279eec;
	-ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1); 
    transform: scale(1.1,1.1);
    cursor:pointer;
} 
 #scaleId{
    padding:20px;
    border-radius:25px;
    height:4%;
    font-size: 14px;
}
#scaleId:hover{
    background-color: #61b4f0;
}
.clear-li {
    clear:both
}
.one-third:nth-of-type(3n+1) {
clear: both;
}   