


.logo {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 2;
  padding-left: 2%;
}
.logo img {
  
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.logo img:hover {
  -webkit-transform:  rotate(360deg) scale(1.1);
          transform:  rotate(360deg) scale(1.1);
}

.withBoxShadow {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bce4ce+10,98dfe6+50,98dfe6+50,bce4ce+90&0+0,0.8+11,1+36,1+68,0.8+85,0+100 */
background: -moz-linear-gradient(left,  rgba(188,228,206,0) 0%, rgba(188,228,206,0.73) 10%, rgba(187,228,207,0.8) 11%, rgba(165,225,222,1) 36%, rgba(152,223,230,1) 50%, rgba(168,225,219,1) 68%, rgba(183,227,209,0.8) 85%, rgba(188,228,206,0.53) 90%, rgba(188,228,206,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(188,228,206,0) 0%,rgba(188,228,206,0.73) 10%,rgba(187,228,207,0.8) 11%,rgba(165,225,222,1) 36%,rgba(152,223,230,1) 50%,rgba(168,225,219,1) 68%,rgba(183,227,209,0.8) 85%,rgba(188,228,206,0.53) 90%,rgba(188,228,206,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(188,228,206,0) 0%,rgba(188,228,206,0.73) 10%,rgba(187,228,207,0.8) 11%,rgba(165,225,222,1) 36%,rgba(152,223,230,1) 50%,rgba(168,225,219,1) 68%,rgba(183,227,209,0.8) 85%,rgba(188,228,206,0.53) 90%,rgba(188,228,206,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bce4ce', endColorstr='#00bce4ce',GradientType=1 ); /* IE6-9 */

}
.withBox {

width: 120%;
font-family: 'Lucida Bright';
background-position: center center;
background-repeat: no-repeat;
background: -webkit-gradient(radial, center center, 0, center center, 460, from(#cbf9e4), to(rgba(255, 152, 0, 0.11)));
background: -webkit-radial-gradient(circle, #cbf9e4, rgba(255, 152, 0, 0.11));
background: -moz-radial-gradient(circle,#cbf9e4, rgba(255, 152, 0, 0.11));
background: -ms-radial-gradient(circle, #cbf9e4, rgba(255, 152, 0, 0.11));
}
div #indexId
 {
        background: rgb(199,224,249); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(199,224,249,1) 0%, rgba(132,192,224,1) 24%, rgba(151,209,231,1) 51%, rgba(159,204,244,1) 77%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(199,224,249,1) 0%,rgba(132,192,224,1) 24%,rgba(151,209,231,1) 51%,rgba(159,204,244,1) 77%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(199,224,249,1) 0%,rgba(132,192,224,1) 24%,rgba(151,209,231,1) 51%,rgba(159,204,244,1) 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7e0f9', endColorstr='#9fccf4',GradientType=1 ); /* IE6-9 */
        font-family: 'Lucida Bright';
  }
.progress-bar-green {
    background-color: #00a65a;
}
.progress-bar-aqua {
    background-color: #91dbef;
}
.hidden{
  display: none;
}